body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ffccf9, #e6e6fa);
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }    
  
  #affirmation-box{
    margin: 20px auto;
    padding: 20px;
    border: 10px;
    background-color: #ffe6f9;
    width: 80%;
  } 
  
  button {
    background: #ff99cc;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }       
  
    button:hover {
        background-color: #ff80ab;
        transform: scale(1.05);
        transition: all 0.2s;
    }    
  
  
  img {
    width: 150px;
    height:auto;
    display: block;
    margin: 0 auto;
  
  }

  .light {
    background-color: white;
    color:black;
  }

  .dark {
    background-color: black;
    color:white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #6a5acd;
    padding: 15px;
    align-items: center;
  }

  .navbar ul {
    gap: 30px;
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 15px;
  }

  .navbar ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar ul li a:hover {
    text-decoration: underline;
  }

